.question {
   background: #fefefe;
   border-radius: 8px;
   box-shadow: 0 2px 12px rgba(76, 0, 255, 0.8);
   padding: 24px;

   & + .question { // para toda question que vier seguida de outra question
      margin-top: 15px;
   }

   &.highlighted {
      background: #f4f0ff;
      border: 1px solid var(--purple);

      footer .user-info span {
         color: #29292e;
      }
   }

   &.ansewered {
      background: #c0c0c0;
   }

   p {
      color: #29292e;
   }

   footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;

      .user-info {
         display: flex;
         align-items: center;

         img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
         }

         span {
            margin-left: 2px;
            color: #737380;
            font-size: 14px;
         }
      }

      > div {
         display: flex;
         gap: 16px;
      }

      button {
         border: 0;
         background: transparent;
         cursor: pointer;
         transition: filter .2s;

         &.like-button {
            display: flex;
            align-items: flex-end;
            color: #737380;
            gap: 8px;
            
            &.liked {
               color: var(--purple);

               svg path {
                  stroke: var(--purple);
               }
            }
         }

         &:hover {
            filter: brightness(0.7)
         }
      }
   }
}