.room-code {
   height: 40px;
   border-radius: 8px;
   overflow: hidden;

   background: #fff;
   border: 1px solid var(--purple);
   cursor: pointer;

   display: flex;

   transition: transform .25s;

   &:hover {
      transform: translateY(-2px);
   }

   div {
      background: var(--purple);
      padding: 18px 12px 20px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   span {
      display: block;
      align-self: center;
      flex: 1;
      padding: 0 16px 0 12px;
      width: 280px;
      font-size: 14px;
      font-weight: 500;
   }
}